@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Poppins';
}

::-webkit-scrollbar {
	width: 5px;
	margin-right: 5px;
}

::-webkit-scrollbar-track {
	border-radius: 100vh;
}

::-webkit-scrollbar-thumb {
	background-color: #ffffff70;
	border-radius: 100vh;
	-webkit-transition: background-color 1000ms linear;
	-ms-transition: background-color 1000ms linear;
	transition: background-color 1000ms linear;
}
