/*
 * SPDX-FileCopyrightText: 2025 cod3ddo@proton.me
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@import "tailwindcss";

:root {
	color-scheme: light dark;
	width: 300px;
}

@theme {
    --color-*: initial;
    --color-foreground: rgb(18, 18, 18);
    --color-background: rgb(230, 230, 230);
    --color-container: rgb(242, 242, 242);
    --color-accent-blue: rgb(78, 89, 207);
    --color-accent-yellow: rgb(224, 191, 81);
}
